
<div class="contacts-list">

	<div class="contact">
		<div class="avatar" data-name="HB" style="background-image: url(~/img/hbi.jpg);"></div>
		<div class="contact-info">
			<div class="name">
				Hakan Bilgin
				<div class="details">
					<i class="anim-typing tiny"><b></b><b></b><b></b></i>
				</div>
			</div>
			<div class="last-message">Last message excerpt goes here with a long text</div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="TP" style="background-image: url(~/img/ted.jpg);"></div>
		<div class="contact-info">
			<div class="name">
				Ted Persson
				<div class="details">
					<div class="last-online">
						<i class="icon-clock"></i>12:34
					</div>
				</div>
			</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="LB"></div>
		<div class="contact-info">
			<div class="name">
				Laura Bularca
				<div class="details">
					<div class="last-online">
						<i class="icon-date"></i>12 may
					</div>
				</div>
			</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="AU"></div>
		<div class="contact-info">
			<div class="name">
				Alvaro Urbano
				<div class="details">
					<i class="icon-online"></i>
				</div>
			</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="FL"></div>
		<div class="contact-info">
			<div class="name">
				Fredrik Lagerträd
				<div class="details">
					<i class="icon-online"></i>
				</div>
			</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="FL"></div>
		<div class="contact-info">
			<div class="name">
				David Clewette
				<div class="details">
					<i class="icon-online"></i>
				</div>
			</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
	</div>

</div>