
<div class="contact-search">
	<i class="icon-search"></i>
	<input type="text" placeholder="Search" />
</div>

<div class="contact-list">

	<div class="contact">
		<div class="avatar" data-name="HB" style="background-image: url(~/img/hbi.jpg);"></div>
		<div class="info">
			<div class="name">Hakan Bilgin</div>
			<div class="last-message">Last message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing tiny"><b></b><b></b><b></b></i>
			<div class="last-online"></div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="TP" style="background-image: url(~/img/ted.jpg);"></div>
		<div class="info">
			<div class="name">Ted Persson</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing"></i>
			<div class="last-online"></div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="LB"></div>
		<div class="info">
			<div class="name">Laura Bularca</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing"></i>
			<div class="last-online"></div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="AU"></div>
		<div class="info">
			<div class="name">Alvaro Urbano</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing"></i>
			<div class="last-online"></div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="FL"></div>
		<div class="info">
			<div class="name">Fredrik Lagerträd</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing"></i>
			<div class="last-online"></div>
		</div>
	</div>
	
	<div class="contact">
		<div class="avatar" data-name="FL"></div>
		<div class="info">
			<div class="name">David Clewette</div>
			<div class="last-message">Some other message excerpt goes here with a long text</div>
		</div>
		<div class="details">
			<i class="anim-typing"></i>
			<div class="last-online"></div>
		</div>
	</div>

</div>