
<div class="output-body" data-click="focus-message">
	<div class="message sent">
		<div class="avatar" data-name="HB" style="background-image: url(~/img/hbi.jpg);"></div>
		<div class="date">Tuesday, 21 Juli, 11:02</div>
		Hello World
	</div>

	<div class="message received">
		<div class="avatar" data-name="TP" style="background-image: url(~/img/ted.jpg);"></div>
		<div class="date">Tuesday, 21 Juli, 11:02</div>
		How are you?
	</div>

	<div class="message received">
		<div class="avatar" data-name="LB"></div>
		<div class="date">Tuesday, 21 Juli, 11:02</div>
		Test output for the chat
	</div>

	<div class="message sent">
		<div class="avatar" data-name="LB"></div>
		<div class="date">Tuesday, 21 Juli, 11:02</div>
		I'm fine thanks...
	</div>

	<div class="message sent">
		<div class="avatar" data-name="LB"></div>
		<div class="date">Saturday, 17 August, 17:42</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>

	<div class="message typing">
		<div class="avatar" data-name="LB"></div>
		<i class="anim-typing"><b></b><b></b><b></b></i>
	</div>
</div>
