
<div class="popups" data-area="popups">
	<!-- Input popups -->
	<div class="popup-options">
		<div class="menu">
			<div class="row" data-click="module-giphy">
				<i class="icon-giphy"></i>
				<span>Giphy</span>
			</div>
			<div class="row" data-click="module-board">
				<i class="icon-canvas"></i>
				<span>Whiteboard</span>
			</div>
			<!-- <div class="divider"></div> -->
			<div class="row" data-click="module-file">
				<i class="icon-paperclip"></i>
				<span>Send File</span>
			</div>
		</div>
	</div>

	<div class="popup-smileys">
		<div class="menu" data-click="insert-smiley">
			<span style="background-image: url(/app/icons/emo-smiley.png);" data-str=":)"></span>
			<span style="background-image: url(/app/icons/emo-wink.png);" data-str=";)"></span>
			<span style="background-image: url(/app/icons/emo-sad.png);" data-str=":("></span>
			<span style="background-image: url(/app/icons/emo-tounge.png);" data-str=":P"></span>
			<span style="background-image: url(/app/icons/emo-kiss.png);" data-str=":*"></span>
			<span style="background-image: url(/app/icons/emo-grinning.png);" data-str=":D"></span>
			<span style="background-image: url(/app/icons/emo-joy.png);" data-str=":joy:"></span>
			<span style="background-image: url(/app/icons/emo-gloria.png);" data-str=":gloria:"></span>
			<span style="background-image: url(/app/icons/emo-heart_eyes.png);" data-str=":heart_eyes:"></span>
			<span style="background-image: url(/app/icons/emo-sunglasses.png);" data-str=":sunglasses:"></span>
			<span style="background-image: url(/app/icons/emo-heart.png);" data-str="<3"></span>
		</div>
	</div>
</div>
