
<div class="popups" data-area="popups">
	<!-- Input popups -->
	<div class="popup-options">
		<div class="menu">
			<div class="row">
				<i class="icon-giphy"></i>
				<span>Giphy</span>
			</div>
			<div class="row">
				<i class="icon-canvas"></i>
				<span>Whiteboard</span>
			</div>
			<div class="divider"></div>
			<div class="row">
				<i class="icon-paperclip"></i>
				<span>Transmit</span>
			</div>
		</div>
	</div>

	<div class="popup-smiley">
		<div class="menu" data-click="insert-smiley">
			<span style="background-image: url(/app/icons/emo-smiley.png);"></span>
			<span style="background-image: url(/app/icons/emo-joy.png);"></span>
			<span style="background-image: url(/app/icons/emo-sad.png);"></span>
			<span style="background-image: url(/app/icons/emo-tounge.png);"></span>
			<span style="background-image: url(/app/icons/emo-kiss.png);"></span>
			<span style="background-image: url(/app/icons/emo-grinning.png);"></span>
			<span style="background-image: url(/app/icons/emo-gloria.png);"></span>
			<span style="background-image: url(/app/icons/emo-heart_eyes.png);"></span>
			<span style="background-image: url(/app/icons/emo-sunglasses.png);"></span>
		</div>
	</div>
</div>
