<content>
	<div class="teams" data-area="teams">
		<div class="teams-list" data-click="select-team">
			<!-- Teams HTML -->
		</div>
	</div>
	<div class="threads" data-area="threads">
		<div class="threads-list">
			<div class="channels"><!-- Channels HTML --></div>
			<div class="members"><!-- Members HTML --></div>
		</div>
	</div>
	<div class="transcript" data-area="transcript">
		<div class="output-body" data-click="focus-message">
			<!-- Transcript HTML -->
		</div>
		<div class="input">
			<div contenteditable="true" placeholder="Enter message here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
		</div>
	</div>
	<div class="info hidden" data-area="info">
		<!-- Info HTML -->
	</div>
</content>
