<content>
	<div class="teams" data-area="teams">
		<div class="teams-list" data-click="select-team">
			<!-- Teams HTML -->
		</div>
	</div>
	<div class="threads" data-area="threads">
		<div class="threads-list">
			<!-- Threads List HTML -->
		</div>
	</div>
	<div class="transcript" data-area="transcript">
		<div class="output">
			<div class="wrapper">
				<div class="output-body" data-click="focus-message">
					<!-- Transcript HTML -->
				</div>
			</div>
		</div>
		<div class="input">
			<span class="fx-container typing1">
				<i></i><i></i><i></i>
				<span class="new-message"></span>
			</span>
			<div contenteditable="true" placeholder="Enter message here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
		</div>
	</div>
	<div class="info hidden" data-area="info">
		<!-- Info HTML -->
	</div>
</content>

<svg>
	<filter id="goo">
		<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
		<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo" />
		<feComposite in="SourceGraphic" in2="goo" />
	</filter>
</svg>
