<content data-context="settings" data-theme="default">
	<div class="teams" data-area="teams">
		<div class="teams-list" data-click="select-team">
			<!-- Teams HTML -->
		</div>
	</div>
	<div class="threads" data-area="threads">
		<div class="threads-list">
			<!-- Threads List HTML -->
		</div>
	</div>
	<div class="transcript" data-context="transcript" data-area="transcript">
		<div class="output">
			<div class="wrapper">
				<div class="output-body" data-click="focus-message">
					<!-- Transcript HTML -->
				</div>
			</div>
		</div>
		<div class="input" data-area="input">
			<div contenteditable="true" placeholder="Enter message here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
			<span class="btn options" data-click="show-options"><i class="icon-thunder"></i></span>
			<span class="btn send" data-click="send-message"><i class="icon-paperplane"></i></span>
			<span class="btn smiley" data-click="show-smileys"><i class="icon-smiley"></i></span>
		</div>
	</div>
	<div class="info hidden" data-area="info">
		<!-- Info HTML -->
	</div>
</content>

@import "./sections/popups.htm"
