
//@base: #262;
@base: #248;
//@base: #3a133e;

//@msgSent: #9c52b9;
@msgSent: lighten(spin(@base, 50), 27%);
@msgReceived: #ddd;


background: #fff;
color: #333;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;

	i[class^="icon-"] {
		display: inline-block;
		width: 17px;
		height: 17px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		filter: invert() brightness(85%);

		&.icon-search { background-image: url(~/icons/icon-search.png); }
		&.icon-clock  { background-image: url(~/icons/icon-clock.png); }
		&.icon-date   { background-image: url(~/icons/icon-date.png); }
	}

	.anim-typing {
		position: relative;
		display: inline-block;
		width: 27px;
		height: 11px;

		&.tiny {
			top: 2px;
			transform: scale(.65);
		}

		b {
			background: #999;
			display: inline-block;
			position: absolute;
			top: 8px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			animation: wave 1600ms infinite ease-in-out;

			&:nth-child(1) {
				left: 3px;
			}

			&:nth-child(2) {
				left: 11px;
				animation-delay: 140ms;
			}

			&:nth-child(3) {
				left: 19px;
				animation-delay: 280ms;
			}
		}
	}

	.teams {
		background: darken(@base, 5%);
		color: #fff;
		width: 60px;
		padding-top: 7px;
		text-align: center;

		.team {
			background: lighten(@base, 2%);
			color: desaturate(lighten(@base, 37%), 23%);
			position: relative;
			display: inline-block;
			width: 42px;
			height: 42px;
			border-radius: 7px;
			margin-bottom: 7px;

			&:before {
				content: attr(data-name);
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				transform: translateY(-50%);
				font-size: 17px;
				font-weight: 700;
			}
		}
	}

	.contacts {
		background: @base;
		color: #fff;
		display: flex;
		flex-direction: column;
		width: 220px;

		.contacts-head {
			position: relative;
			height: 42px;
			padding: 8px 9px 0;
			border-bottom: 1px solid lighten(@base, 5%);

			.icon-search {
				position: absolute;
				top: 13px;
				left: 17px;
				width: 15px;
				height: 15px;
				filter: invert(100%) brightness(100%) opacity(50%);
			}

			input {
				background: lighten(@base, 5%);
				color: inherit;
				height: auto;
				padding: 5px 11px 5px 29px;
				border: 0;
				border-radius: 30px;

				&::-webkit-input-placeholder {
					color: lighten(@base, 23%);
					font-size: 12px;
				}
			}
		}

		.contacts-list {
			flex: 1;
			padding: 7px 9px;

			.contact {
				display: flex;
				padding: 3px 0;
				color: desaturate(lighten(@base, 53%), 21%);

				&:hover {
					color: lighten(@base, 67%);
				}

				.avatar {
					background-color: lighten(@base, 5%);
					position: relative;
					display: inline-block;
					margin: 0 7px 5px 0;
					width: 34px;
					border-radius: 50%;

					&:before {
						content: attr(data-name);
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						z-index: 1;
						transform: translateY(-50%);
						font-size: 13px;
						font-weight: 400;
						text-align: center;
						color: lighten(@base, 31%);
					}

					&:after {
						content: "";
						position: relative;
						z-index: 2;
						display: block;
						padding-top: 100%;
						border-radius: inherit;
						background-image: inherit;
						background-position: 50% 50%;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
				}

				.info {
					flex: 1;

					.name {
						padding: 3px 0 3px;
						font-size: 13px;
						font-weight: 500;

						.details {
							float: right;
							opacity: .5;

							.last-online {
								white-space: nowrap;
								font-size: 10px;
								text-align: right;

								i[class^="icon-"] {
									width: 12px;
									height: 12px;
									vertical-align: text-bottom;
									margin-right: 2px;
								}
							}

							.icon-online {
								background: #0f0;
								display: inline-block;
								width: 9px;
								height: 9px;
								border-radius: 50%;
								filter: none;
								box-shadow: 0 1px 2px rgba(0,0,0,.5);
							}
						}
					}

					.last-message {
						opacity: 0.5;
						width: 161px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}

	.transcript {
		background: #f7f7f7;
		flex: 1;
		display: flex;
		flex-direction: column;

		.output-head {
			position: relative;
			height: 42px;
			border-bottom: 1px solid #ddd;
		}

		.output-body {
			flex: 1;
			padding: 5px 3px;
			overflow-x: hidden;
			overflow-y: auto;

			> div {
				position: relative;
				border-radius: 13px;
				font-size: 13px;
				line-height: 1.35;
				padding: 5px 11px;
				max-width: 79%;
				margin: 5px 5px 1px;
				clear: both;

				&:after {
					content: "";
				    position: absolute;
				    bottom: 0px;
				    width: 16px;
				    height: 9px;
				}

				&:first-child {
					margin-top: 0;
				}

				&.sent {
					background: @msgSent;
					color: #fff;
					float: right;
					//filter: drop-shadow(0 1px 0 #ddd);

					&:after {
					    right: -9px;
					    background: radial-gradient(circle at top right, transparent 49%, @msgSent 56%);
					    border-radius: 0 0 0 11px;
					}
				}

				&.received {
					background: @msgReceived;
					color: #222;
					float: left;
					margin-top: 13px;

					&:after {
					    left: -9px;
					    background: radial-gradient(circle at top left, transparent 49%, @msgReceived 56%);
					    border-radius: 0 0 11px 0;
					}

					&:before {
						content: attr(data-from);
						position: absolute;
						top: -16px;
						left: 5px;
						font-size: 11px;
						white-space: nowrap;
						color: #aaa;
					}

					& + .received {
						margin-top: 0px;

						&:before {
							display: none;
						}
					}
				}

				&.typing {
					position: relative;
					background: @msgReceived;
					color: #222;
					float: left;

					&:before,
					&:after {
						content: "";
						background: inherit;
					    position: absolute;
					    bottom: -2px;
					    left: 0;
						width: 11px;
						height: 11px;
						border-radius: 50%;
					}

					&:after {
						width: 4px;
						height: 4px;
						bottom: -3px;
						left: -3px;
					}
				}
			}
		}

		.input {
			padding: 9px;

			> div {
				position: relative;
				background: #fff;
				border-radius: 5px;
				box-shadow: 0 0 0 1px #ddd;
				font-size: 13px;
				line-height: 1.35;
				padding: 7px 9px;

				&:empty:not(:focus):before {
					content: attr(placeholder);
					color: #666;
				}

				&:after {
					content: "";
					background: url(~/icons/icon-return.png) 50% 50% no-repeat;
					position: absolute;
					bottom: 7px;
					right: 9px;
					width: 16px;
					height: 16px;
					opacity: .35;
				}
			}
		}
	}

	.sidebar {
		background: #fff;
		display: flex;
		flex-direction: column;
		width: 200px;

		.sidebar-head {
			height: 42px;
			border-bottom: 1px solid #eee;
		}

		.sidebar-body {
			.profile {
				position: relative;
				padding: 13px 0;
				margin-bottom: 7px;
				text-align: center;
				border-bottom: 1px solid #eee;

				.avatar {
					background-color: #eee;
					background-position: 50% 50%;
					background-size: 100% auto;
					background-repeat: no-repeat;
					display: inline-block;
					margin-bottom: 5px;
					width: 67%;
					border-radius: 50%;

					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}
				}

				h2 {
					font-size: 16px;
				}
			}

			.field {
				display: flex;
				padding: 5px 13px;

				span {
					&:nth-child(1) {
						width: 40%;
						color: #888;
					}
					&:nth-child(2) {
						width: 60%;
						color: #222;
						text-align: right;
					}
				}
			}
		}
	}
}

@keyframes wave {
	0%, 40% { top: 8px; }
	20%     { top: 1px; }
}
